.main {
    height: 100%;
}

.main__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__info {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.main__clicks {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

#mainSuff {
    padding-left: 5px;
    opacity: 60%;
}

.main__speed {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

#suffSpeed {
    padding-left: 5px;
    opacity: 60%;
}

.main__br {
    display: none;
}

.main__block {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__click-block {
    width: 400px;
    height: 400px;
    user-select: none;
    cursor: pointer;
    background-color: #000;
    border: 5px solid darkblue;
    border-radius: 15px;
    transition: transform 0.05s;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transform: scale(1);
    /* animation: rainbow 10s infinite ease-in-out; */
}

@keyframes rainbow {
    0% {
        background-color: hsl(0, 100%, 50%);
        border-color: hsl(180, 100%, 50%);
    }

    6.25% {
        background-color: hsl(22.5, 100%, 50%);
        border-color: hsl(202.5, 100%, 50%);
    }
    
    12.5% {
        background-color: hsl(45, 100%, 50%);
        border-color: hsl(225, 100%, 50%);
    }
    
    18.75% {
        background-color: hsl(67.5, 100%, 50%);
        border-color: hsl(247.5, 100%, 50%);
    }
    
    25% {
        background-color: hsl(90, 100%, 50%);
        border-color: hsl(270, 100%, 50%);
    }
    
    31.25% {
        background-color: hsl(112.5, 100%, 50%);
        border-color: hsl(292.5, 100%, 50%);
    }

    37.5% {
        background-color: hsl(135, 100%, 50%);
        border-color: hsl(315, 100%, 50%);
    }
    
    43.75% {
        background-color: hsl(157.5, 100%, 50%);
        border-color: hsl(337.5, 100%, 50%);
    }

    50% {
        background-color: hsl(180, 100%, 50%);
        border-color: hsl(0, 100%, 50%);
    }
    
    56.25% {
        background-color: hsl(202.5, 100%, 50%);
        border-color: hsl(22.5, 100%, 50%);
    }

    62.5% {
        background-color: hsl(225, 100%, 50%);
        border-color: hsl(45, 100%, 50%);
    }
    
    68.75% {
        background-color: hsl(247.5, 100%, 50%);
        border-color: hsl(67.5, 100%, 50%);
    }

    75% {
        background-color: hsl(270, 100%, 50%);
        border-color: hsl(90, 100%, 50%);
    }
    
    81.25% {
        background-color: hsl(292.5, 100%, 50%);
        border-color: hsl(112.5, 100%, 50%);
    }

    87.5% {
        background-color: hsl(315, 100%, 50%);
        border-color: hsl(135, 100%, 50%);
    }
    
    93.75% {
        background-color: hsl(337.5, 100%, 50%);
        border-color: hsl(157.5, 100%, 50%);
    }

    100% {
        background-color: hsl(360, 100%, 50%);
        border-color: hsl(157.5, 100%, 50%);
    }
}

@media (max-width: 770px) {
    .main__click-block{
        width: 60vw;
        height: 60vw;
    }
    .main__clicks{
        font-size: clamp(1.75rem, 0.6042rem + 5.2381vw, 3.125rem);
    }
    .main__speed{
        font-size: clamp(0.75rem, 0.3333rem + 1.9048vw, 1.25rem);
    }
}

@media (max-width: 470px) {
    .main__br{
        display: inline;
    }
}